@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root { 
    --lpurple: #7a44fe; 
    --dpurple: #5c2cd5; 
    --yellow: #ffcd67;
    --red: #fe6788; 
    --lwhite: #fffeff;
}

* { 
    margin: 0; 
    padding:0;
    box-sizing: border-box;
}


body { 
    font-family: 'Poppins';
    width: 100%; 
    height: 100vh;
}

.container { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: var(--lpurple);
    
}

.wrapper { 
    width: 90%; 
    height: 90%; 

    display: grid; 
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 100%;
}

.player1, .player2, .board { 
    width: 100%; 
    height: 100%;
}

.player { 
    display: flex; 
    justify-content: center;
    align-items: center;

}

.p-box { 
    border-radius: 25px;
    overflow: hidden;
    width: 90%;
    height: 30%; 
    
    display: grid; 
    grid-template-rows: 20% 80% ;
    grid-template-columns: 100%;
    
}

.pnum, .pname{
    color:black;
    
    width: 100%; 
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center; 
    

}

.pnum { 
    background-color: var(--dpurple);
    color: white;
}

.pname { 
    background-color: var(--lwhite);
}



.board { 
    display: grid; 
    grid-template-rows: 10% 70% 20%; 
    grid-template-columns: 100%; 
}

.moves { 
    width: 100%;
    height: 100%; 
    display: grid; 
    grid-template-columns: repeat(7, 1fr) ;
}

.moves-box {
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

.moves-box:hover  .move-btn { 
    display: flex;

}

.move-btn { 
    transition: 300ms;
    width:80%; 
    height: 80%; 
    border-radius: 25px;
    background-color: #000;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}





.board-box { 
    width: 100%; 
    height: 100%;
    border-radius: 25px;
    background-color: var(--lwhite);
    display: grid;
    grid-template-rows: repeat(6, 16.6%);   

}

.row { 
    width: 100%; 
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7,1fr);

}

.slot { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.circle { 
    background-color:#5c2cd5;
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
    box-shadow: inset 3px 3px 4px #000;
}

.p1circle { 
    background-color: var(--red);
}

.p2circle { 
    background-color: var(--yellow);
}

#curruser { 
display: none;
} 

.winner-pop { 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.8);
    display: none;
}

.winner-box {
    width: 30%;
    height: 50%; 
    display: grid; 
    grid-template-rows: 70% 30%;
    grid-template-columns: 100%;
    border-radius: 25px; 
    overflow: hidden;
}

.gif { 
    width :100%; 
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.gif img { 
    width: 100%;
    height: 100%;

}

.winner-text { 
    width: 100%; 
    height: 100%; 
    display: grid; 
    grid-template-rows: 70% 30%;
    grid-template-columns: 100%;
}

.wtt, .wtb{ 
    background-color: white;
    width: 100%; 
    height: 100%;
    display: flex ;
    justify-content: center;
    align-items: center; 
  
}

.restart { 
    width : 50%; 
    height :85%;
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    background-color: #7a44fe;
    color: white;
    border-radius: 15px;
}

.restart h1 { 
    font-size: 1.2rem;
}




.player-pop { 
    width:100%; 
    height :100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
}

.player-box { 
    width: 30%; 
    height: 30%;
    display: grid; 
    grid-template-rows: 30% 30% 30% 10%;
    grid-template-columns: 100%;
    background-color: #5c2cd5;
    color: white;
    border-radius: 15px;
    overflow: hidden;
}

.pb-title, .pb-input, .pb-button, .pb-small { 
    width: 100%; 
    height: 100%;
    display: flex; 

}

.pb-title { 

    justify-content: center;
    align-items:last baseline;
}

.pb-input { 
    display: flex; 
    justify-content: center;
}

.pb-input input[type=text] { 
    width: 90%;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-size: 3rem;
    transition: 300ms all ease 0s;
}

input:focus { 
    transform: scale(1.03)
}

.pb-button { 
    align-items: center;
    justify-content: center;
}

.pb-button button { 
    width: 40%;
    height: 50%;
    background-color: #7a44fe;
    border: none;
    border-radius: 13px;
    color: white;
    transition: 300ms ease;
}

button:hover { 
    background-color: #af90fd;
}

.pb-small { 
    align-items: center;
    justify-content: center;

}

.pb-small p { 
    font-weight: 300;
    font-size: 0.9rem;
}

.pb-small span { 
    font-weight: 700;
}

.board-turn { 
    width: 100%; 
    height: 100%; 
    
    display: grid; 
    grid-template-rows: 70% 30%;
    grid-template-columns: 100%;
}

.current-turn, .operations{ 
    width: 100%; 
    height: 100%;
    display: flex; 
}


.current-turn { 
    align-items: center;
    justify-content: center;
}

.ct-box { 
    width: 30%; 
    height: 80%;
    display: grid; 
    grid-template-rows:100%;
    grid-template-columns: 30% 70%;
    background-color: #400ac7;
    border-radius:25px;
    overflow: hidden;
}

.ct-icon { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.ct-circle { 
    width: 48px; 
    height: 48px; 
    background-color: #fe6788;
    border-radius: 50%;
}

.ct-text { 
    background-color: white;
    height: 100%; 
    width: 100%; 
    display: grid; 
    grid-template-rows: 30% 70%;
    grid-template-columns: 100%;
}

.ctt { 
    width: 100%; 
    height: 100%;
    display: flex; 
    align-items:last baseline;
  
}

.ctt h3{ 
    margin-left: 1rem;
    font-weight: 500;
}

.ctb { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    
    align-items:start;
}

.ctb h1 { 
    font-weight: 900;
    margin-left: 1rem
}







.operations { 
    align-items: space;
    justify-content: space-evenly;
}

.operations button{ 
    height: 100%;
    width: 15rem;
    font-family: 'Poppins';

    border: none;
    border-radius: 25px;
    background-color: #5c2cd5;
    color: white;
    font-size: 1.3rem;
    transition: 300ms;
    cursor: pointer;
}

.operations button:hover  {
    background-color:#400ac7;
} 


.combo  {
    background-color: black;
}



.recent-pop { 
    width: 100%;
    height: 100%; 
    display: none; 
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    position: absolute;

}


.recent-box { 
    border-radius: 15px; 
    overflow: hidden;
    background-color: white;
    width: 50%; 
    height: 60%; 
    display: grid; 
    grid-template-rows: 20% 70% 10%;
    grid-template-columns: 100%;
   
}

.recent-winner { 
    height: 100%; 
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.recent-winner h1 { 
    font-weight: 900;
}

.recent-board { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.rb-board-box .circle { 
    height: 45px;
    width: 45px;
}

.rb-board-box { 
    width: 80%;
    height: 80%; 
    border-radius: 25px;
    background-color: rgb(231, 227, 227);
    display: grid;
    grid-template-rows: repeat(6, 16.6%);  
     

}

.recent-cancel { 
    height: 100%; width: 100%; 

    display: flex; 
    justify-content:center ;
    align-items: center;
}

.recent-cancel button { 
    background-color: var(--dpurple);
    color: white; 
    border: none;
    width: 30%; 
    height: 70%; 
    border-radius: 5px;
    transition: 300ms; 
    font-size: 1rem;
    font-weight: 700;
}

.recent-cancel button:hover { 
    background-color: #400ac7;
}